#wrap {
  background: #a6d2ff;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative; /* IE7 needs this */
}
#nav {
  float: left;
  position: relative;
  left: 50%;
}
#nav ul {
  float: left; /* IE6 needs this */
  position: relative;
  left: -50%;
  list-style: none;
}
#nav li {
  float: left;
}
#nav a {
  float: left;
  text-decoration: none;
  padding: 0 30px; /* variable width */
}
