@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .itemCart {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .imageCart img {
    width: 50%;
  }
  .imageCart,
  .quantityCart,
  .descriptionCart {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  /*
  .buttonsCart {
    margin-right: 20px;
  }
*/
  .is-active {
    animation-name: animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }

  @keyframes animate {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: right;
    }
  }
}

.responsive {
  width: 100%;
  max-width: 150px;
  height: auto;
}

@media screen and (max-width: 375px) {
  #buttonsCart {

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    
  }
}
@media screen and (min-width: 376px) {
  #buttonsCart {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1px;
  }
}