<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/bootstrap.css" />
    <link rel="stylesheet" href="/style/style.css" />

    <title>Admin - Produkt</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src=https://unpkg.com/ionicons@5.4.0/dist/ionicons.js></script>
    <script src="/registrering/customerRegistrationForm.js"></script>
</head>

<body class="navbarpadding">
<!-- <a href="../sidebar.html"></a>-->
<div id="nav-placeholder"class="fixed-top">


</div>


<!--Sidebar-->
<div class="d-flex wrapper">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block fixed-top">
        <div class="" id="sidebar-wrapper">

        </div>
    </div>

    <div class="container lg-3 mb-4" style="justify-content: center; margin-top: 2rem; color: rgb(158, 206, 166);">
        <form action="/varukorg/submitcheckoutform" th:object="${checkOutForm}" method="post" name="form">

            <div class="namn-form">
                <label >Förnamn</label>
                <!--required säger till html5 valideringen att den inte får vara tom
                                   pattern beskriver för html5 valideringen hur innehållet måste se ut-->
                <!--oninvalid körs då html5 ser att innehållet inte stämmer mot required eller pattern-->
                <!--onchange körs då innehållet ändrats då fokus lämnar fältet-->
                <!--th:pattern gör att samma regexp som används i backend validation används här också-->
                <!-- Det är två labels för felhantering, en för fronend validation och en som används av backend valideringen -->
                <input required th:pattern="${checkOutForm.FIRSTNAME_PATTERN}"  type="text" th:maxlength="${checkOutForm.MAXLENGTH_SIZE}"class="form-control" placeholder="Förnamn" th:field="*{firstName}"
                oninvalid="invalidInput(this, 'firstnameError', 'Förnamn ska inte innehålla specialtecken eller siffror')"
                onchange="validateInput(this, 'firstnameError')">
                <label class="red-text" id="firstnameError" hidden></label>
                <label id="firstnameErrorSpringValidation" class="red-text" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
            </div>

            <br>

            <div class="namn-form">
                <label>Efternamn</label>
                <input required th:pattern="${checkOutForm.LASTNAME_PATTERN}" type="text" th:maxlength="${checkOutForm.MAXLENGTH_SIZE}" class="form-control" placeholder="Efternamn" th:field="*{lastName}"
                 oninvalid="invalidInput(this, 'lastnameError', 'Efternamn ska inte innehålla specialtecken eller siffror')"
                 onchange="validateInput(this, 'lastnameError')">
                <label class="red-text" id="lastnameError" hidden></label>
                <label id="lastnameErrorSpringValidation" class="red-text" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
            </div>

            <br>
            <div class="tele-form">
                <label>Telefonnummer</label>
                <input required th:pattern="${checkOutForm.PHONENUMBER_PATTERN}" type="tel" th:maxlength="${checkOutForm.MAXLENGTHPHONE_SIZE}"
               th:minlength="${checkOutForm.MINLENGTHPHONE_SIZE}" class="form-control" placeholder="Telefonnummer"th:field="*{phoneNumber}"
                oninvalid="invalidInput(this, 'phoneNumberError', 'Ange ditt telefonnummer i rätt format, tex 123-1234567')"
                onchange="validateInput(this, 'phoneNumberError')">
                <label class="red-text" id="phoneNumberError" hidden></label>
                <label id="phoneNumberErrorSpringValidation" class="red-text" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></label>
            </div>

            <br>


            <div class="mail-form">
                <label>Email address</label>
                <input required th:pattern="${checkOutForm.EMAIL_PATTERN}"
                 type="email" class="form-control"  placeholder="E-post" th:field="*{email}"
                 oninvalid="invalidInput(this, 'emailerror', 'Ange din mailadress i rätt format,t.ex minmail@mail.com')"
                 onchange="validateInput(this, 'emailerror')">
                <label class="red-text" id="emailerror" hidden></label>
                <label id="emailerrorSpringValidation" class="red-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>

            </div>


            <br>
            <div class="adress-form">
                <label>Adress</label>
                <input required th:pattern="${checkOutForm.ADDRESS_PATTERN}" type="text" class="form-control"
                 placeholder="Postadress" th:field="*{address}"
                 oninvalid="invalidInput(this, 'addresserror', 'Adressen får endast innehålla text och siffror')"
                 onchange="validateInput(this, 'addresserror')">
                <label class="red-text" id="addresserror" hidden></label>
                <label id="addresserrorSpringValidation" class="red-text" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></label>

            </div>


            <br>
            <div class="adress-form">
                <label >Postnummer</label>
                <input required th:pattern="${checkOutForm.ZIPCODE_PATTERN}" type="tel" class="form-control"
                 placeholder="Postnummer" th:field="*{zipCode}"
                oninvalid="invalidInput(this, 'zipCodeError', 'Ange postnummer som 123 45')"
                onchange="validateInput(this, 'zipCodeError')">
                <label class="red-text" id="zipCodeError" hidden></label>
                <label id="zipCodeSpringValidation" class="red-text" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></label>
            </div>

            <br>

            <div class="adress-form">
                <label>Stad</label>
                <input required th:pattern="${checkOutForm.CITY_PATTERN}" type="text" th:maxlength="${checkOutForm.MAXLENGTH_SIZE}"
                 class="form-control"placeholder="Stad"th:field="*{city}"
                oninvalid="invalidInput(this, 'cityError', 'Stad ska inte innehålla specialtecken eller siffror')"
                onchange="validateInput(this, 'cityError')">
                <label class="red-text" id="cityError" hidden></label>
                <label id="cityErrorSpringValidation" class="red-text" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></label>
            </div>

            <br>

            <button id="submit" class="btn btn-primary">Lägg beställning</button>

        </form>

    </div>

</div>

<script>







    $(function(){
        $("#nav-placeholder").load("../nav.html");
        $("#sidebar-wrapper").load("../sidebar.html");

    });



    function clearCart(){
        var maincart = new Array();
        location.href='confirmedorder.html'
        localStorage.setItem('cloudcart', JSON.stringify(maincart));
    }

</script>

<footer id="foot" style="background-color: #007A3D;" class="mt-5">

</footer>
<script>
    $(function(){
        $("#foot").load("../footer.html");

    });

</script>
</body>

</html>