.socialMedia{
    height: auto;
    width: 75px;
}

.navbar-custom{
    background-color:#e7bd42;
}
.btn{
    margin: 5px;
    padding: 5px;
 }
 footer{
    padding-top: 2%;
    box-shadow: 0 50vh 0 50vh #007A3D;
}