<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeLeaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/bootstrap.css" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Produktsida</title>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>


  <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
  </head>
  <body>

    <div id="nav-placeholder">
      <div class="header">
        <nav class="navbar navbar-custom navbar-expand-md navbar-light  ">
          <a href="/index.html">
            <img src="/img/logga_svart.svg"  alt="" width=200px height=100px />
          </a>
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="form-inline ml-auto">
              <input class="form-control mr-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-sm-0" style="position: center;" type="submit">
                <ion-icon name="search-outline"></ion-icon>Sök
              </button>
              <a onclick="window.location.href = '/inloggning/inloggningsida.html'"class="btn btn-secondary my-sm-0">
                <ion-icon name="person-outline"></ion-icon>Logga in
              </a>
              <a id="amount" onclick="window.location.href = '/varukorg/groceryCart.html'" class="btn btn-secondary my-sm-0">
                <ion-icon name="cart-outline"></ion-icon>Till kassa
              </a>
            </form>


          </div>
        </nav>

      </div>

    </div>
       <!--Sidebar-->
       <div class="d-flex wrapper">
        <div class="border-right" id="sidebar-wrapper" >
          <div class="sidebar-heading">Kategorier</div>
          <div id="categoryList" class="list-group list-group-flush">
            <a href="../index.html" class="list-group-item list-group-item-action" style="background-color:#e7bd42
            ; color: black;" >Alla produkter</a>





          </div>
          <div class="sidebar-heading">Lite mer om oss</div>
          <div class="list-group list-group-flush">
            <a href="../About/index.html" class="list-group-item list-group-item-action" style="background-color:#e7bd42
            ; color: black;">Om Oss</a>
          </div>


        </div>

       <div class="container">

      <div class="row d-flex justify-">
      <div class="container" 
        id="inputorder"
        
        >
        
        <!-- Main Input Card-->
    
          
        <div id="productCard"
        class="row mt-5"
        >

          <th:block th:each="product : ${productToShow}">

          <div class="col col-lg-6 mt-4" style="text-align: left; width: max-content;">

            <img id="image" th:src="${product.image}" alt="">

          </div>
          <div class="col col-lg-6" style="width: max-content;">

            <div class="row" style="margin-left: 1rem; margin-top: 1rem;" >
              <h1 style="font-size: 4rem">[[${product.name}]]</h1>
            </div>

            <div class="row" style="margin-left: 1rem;" >
              <h2 >[[${product.category}]]</h2>
            </div>

            <div class="row" style="margin-left: 1rem;" >
              <p>[[${product.description}]]</p>
            </div>

            <div class="row d-flex justify-content-center"   >
              <h2 style="font-size: 8rem; color: red;">[[${product.price}]]:-</h2>
            </div>

            <div class="row d-flex justify-content-center"   >

                <a class="btn btn-info" type="button" onclick="addToCart()" style="width:400px; height: 60px; font-size: 30px;" th:href="@{/Startsida/produktsida/add/(id=${product.id})}">Lägg till i varukorg</a>

            </div>

            <div class="row d-flex justify-content-start" style="margin-left: 5rem;"  >
              <p>Antal kvar i lager: [[${product.storage}]] </p>
            </div>
          </div>


          </th:block>
           
          </div>
      </div>
    </div>
    </div>
    
    

 

       </div>
    <footer id="foot" style="background-color: #007A3D;">

      <div class="container">
        <div class=" text-center row">

          <div class="col" style="font-size: large;">
            <h5>Kontaktinformation</h5>
            <p class="text-center">
              <b>Address:</b> Lorem, ipsum. <br>
              <b>Öppetider:</b> TIDER <br>
              <b>Telefonnummer:</b> XXX-XXXXXX <br>
              <b>Mailadress:</b> XXXXXXXX@XXXXXXX.XXX
            </p>
          </div>
          <div class="col">
            <h5>Följ oss!</h5>
            <a href="#"><img src="/img/twitter.svg" alt="" class="footer-logo"></a>
            <a href="#"><img src="/img/facebook.svg" alt="" class="footer-logo"></a>
            <a href="#"><img src="/img/instagram.svg" alt="" class="footer-logo"></a>
          </div>
          <div class="col">
            <h5>Våra samarbetspartners</h5>
            <img src="/img/klarna.svg" alt="" class="footer-logo">
            <img src="/img/mastercard.svg" alt="" class="footer-logo">
            <img src="/img/visa.svg" alt="" class="footer-logo">
            <img src="/img/budbee.svg" alt="" class="footer-logo">
            <img src="/img/postnord.svg" alt="" class="footer-logo">
          </div>
        </div>
        <hr>
        <div class="text-center">
          <p class="copyright">Copyright 2021 &copy; G07</p>
        </div>
      </div>

     
    </footer>
       </div>
       
       <script>





$(function(){
  $("#nav-placeholder").load("../nav.html");
  $("#sidebar-wrapper").load("../sidebar.html");
  $("#foot").load("../footer.html");
});


var productcartparse = localStorage.getItem('cloudcart');
var productcart = JSON.parse(productcartparse);


var maincart = new Array();
var shoppingcart = document.getElementById("amount");


if(!productcart.length == 0 ){
  maincart = productcart
}

function addToCart(){
alert("Produkt tillagd i varukorg!");
  
}

       </script>
    
  </body>
</html>
