<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/style/bootstrap.css"/>
    <link rel="stylesheet" href="/style/style.css"/>

    <title>Produktsida - Hakims Livs</title>

    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</head>

<body class="navbarpadding">

<div id="nav-placeholder" class="fixed-top">


</div>
<!--Sidebar-->
<div class="d-flex wrapper">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block fixed-top">
        <div class="" id="sidebar-wrapper">
        </div>
    </div>
</div>
<div class="container">

    <div class="d-flex w-100 justify-content-start align-items-center">

        <div class="mt-3 mb-3 row container" id="inputorder">

            <!-- Här skapas main-->

            <th:block th:each="product : ${productToShow}">

                <div class="col col-lg-6 mt-4" style="text-align: left; width: max-content;">

                    <!--img id="image" th:src="${product.image}" alt=""-->
                    <img id="image" th:src="${product.image}" alt=" "
                         class="responsive" width="800 px" height="800 px">

                    <div class="col col-lg-6 mt-4" style="width: max-content;">

                    </div>

                </div>
                <div class="col col-lg-6" style="width: max-content;">

                    <div class="row" style="margin-left: 1rem; margin-top: 1rem;">
                        <h1 id="product-name-size">[[${product.name}]]</h1>
                    </div>

                    <div class="row" style="margin-left: 1rem;">
                        <h2>[[${product.category}]]</h2>
                    </div>

                    <div class="row" style="margin-left: 1rem;">
                        <p>[[${product.description}]]</p>
                    </div>

                    <div class="row justify-content-start" style="margin-left: 1rem;">
                        <h2 id="price-size" style="color: red;">[[${product.price}]] kr</h2>
                    </div>

                    <div class="row d-flex justify-content-start" style="margin-left: 1rem;">

                        <a type="button" id="button-size" class="btn btn-info col-8 col-lg-7"
                           onclick="addToCart()"
                           th:href="@{/Startsida/produktsida/add/(id=${product.id})}">Lägg till i varukorg</a>

                    </div>

                    <div class="row d-flex justify-content-start" style="margin-left: 1rem; margin-top: 1rem;">
                        <p>Antal kvar i lager: [[${product.storage}]] </p>
                    </div>
                </div>

            </th:block>

        </div>
    </div>
</div>

<footer id="foot" style="background-color: #007A3D;" class="justify-content-center">
</footer>

<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

<script>
    $(function () {
        $("#nav-placeholder").load("../../nav.html");
        $("#sidebar-wrapper").load("../../sidebar.html");
        $("#foot").load("../../footer.html");
    });


    var productcartparse = localStorage.getItem('cloudcart');
    var productcart = JSON.parse(productcartparse);


    var maincart = new Array();
    var shoppingcart = document.getElementById("amount");


    if (!productcart.length === 0) {
        maincart = productcart
    }

    function addToCart() {
        alert("Produkt tillagd i varukorg!");

    }

    /*
        function addToCart(värde) {
            maincart.push(värde);
            localStorage.setItem('cloudcart', JSON.stringify(maincart));
            shoppingcart.innerHTML = `<ion-icon name="cart-outline"></ion-icon>Till kassa ${maincart.length} produkter `;

            if (!productcart.length == 0) {
                maincart = productcart
            }
        }


        function clearbutton() {

            maincart.splice(0, maincart.length);


            localStorage.setItem('cloudcart', JSON.stringify(maincart));

            shoppingcart.innerHTML = `<ion-icon name="cart-outline"></ion-icon>Till kassa ${maincart.length} produkter `;


        }


        fetch("/testdata/testprodukt.json")
            .then((response) => response.json())
            .then((data) => productGen(data));


        const productGen = (response) => {

            var productChosenParse = localStorage.getItem('lastClickedProduct');
            var productChosen = JSON.parse(productChosenParse);


            var findProduct = 0;

            for (i = 0; i < response.length; i++) {
                if (response[i].productid == productChosen) {
                    findProduct = i;
                    break;
                }
            }


            var generator = document.getElementById("productCard");

            generator.innerHTML = `
            <div class="col col-lg-6 mt-4" style="text-align: left; width: max-content;" >

              <img id="image" src="${response[findProduct].image}" alt="product image" class = "responsive" width="800 px" height= 800 px" >

            </div>

            <div class="col col-lg-6 mt-4" style="width: max-content;">

              <div class="row" style="margin-left: 1rem; margin-top: 1rem;" >
                <h1 id = "product-name-size">${response[findProduct].name}</h1>
              </div>

              <div class="row" style="margin-left: 1rem;" >
                <h2 >${response[findProduct].category}</h2>
              </div>

              <div class="row" style="margin-left: 1rem;" >
                <p>${response[findProduct].description}</p>
              </div>

              <div class="row justify-content-start" style="margin-left: 1rem;"   >
                <h2 id="price-size" style="color: red;">${response[findProduct].price}:-</h2>
              </div>

              <div class="row d-flex justify-content-start"  style="margin-left: 1rem;" >
                <button onclick="addToCart(${productChosen})" type="button" id ="button-size" class="btn btn-info col-8 col-lg-7">Lägg till i varukorg</button>
                <button onclick="clearbutton()" id ="button-size" class="btn btn-outline-warning col-2 col-lg-3">Clear</button>
              </div>

              <div class="row d-flex justify-content-start" style="margin-left: 1rem; margin-top: 1rem;"  >
                <p >Antal kvar i lager: ${response[findProduct].storage} </p>
              </div>
            </div>


            `;


        };
    */
</script>

</body>

</html>